<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="GRIM Security Scanner Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
    
    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../tests</directory>
        </exclude>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="LOG_LEVEL" value="DEBUG"/>
    </php>
</phpunit>
